.spartacusWorkout {
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0px 15vw 0px 5vw;
}
.clockTime {
    /* border: 2px solid gold; */
    display: flex;
    flex-direction: column;
    width: 70%;
    /* flex: 3; */
    height: 76vh;
}
.workoutButtons{
    /* border: 2px solid green; */
    display: flex;
    /* flex: 1; */
    height: 20%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    margin-bottom: 10px;
}
.workoutExercise {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    /* flex: 3; */
    height: 15%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 5vw;

    font-family: ocean;
    /* shadows in all (4) directions */
    text-shadow: -1px -1px 3px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000;
    -webkit-text-stroke: 0px;

}
.workoutList {
    /* border: 2px solid magenta; */
    height: 76vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* flex: 1; */
    padding: 1vh 5px;
    /* margin: 4vh 0; */
    overflow: scroll;

    width: 30%;

    font-size: 3vw;

    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: black;

    background-color: var(--color-white);
    border-radius: 10px;
}
.exercise {
    /* border-top: 1px solid black; */
    display: flex;
    flex: 1;
    /* padding: 5px 5px; */
    padding-top: 1vh;
    text-align: center;
    color: var(--color-blue);

}
.exerciseComplete {
    text-decoration: line-through;
    text-decoration-color: black;
    color: var(--color-red);
}

.red {
    color: var(--color-red);
}

/* media query for phone */

/* shrink the height in clockTime and workoutList */

