.spartacusWorkout {
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0px 15vw 0px 5vw;
}

.clockTime {
    /* border: 2px solid gold; */
    display: flex;
    flex-direction: column;
    width: 70%;
    /* flex: 3; */
    height: 76vh;
}

.workoutButtons {
    /* border: 2px solid green; */
    display: flex;
    /* flex: 1; */
    height: 20%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.clickableDiv {
    /* border: 2px solid blue; */
    width: 30%;
    /* WHAT DO I DO HERE??? */
    min-width: 120px;
    max-width: 200px;
    border-radius: 5px;
    padding: 0.25vh 1vh;
    font-size: 5vh;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    text-align: center;
    transition: 0.3s;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
    color: var(--color-blue);

}

.workoutExercise {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    /* flex: 3; */
    height: 15%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 5vw;

    font-family: ocean;
    /* shadows in all (4) directions */
    text-shadow: -1px -1px 3px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000;
    -webkit-text-stroke: 0px;

}

.workoutList {
    /* border: 2px solid magenta; */
    /* height: 76vh; */
    max-height: 76vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25vh;
    /* flex: 1; */
    /* margin: 4vh 0; */
    overflow: scroll;
    padding: 0 5px;
    width: 30%;

    font-size: 3vw;

    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: black;

    background-color: var(--color-white);
    border-radius: 10px;
}

.exercise {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-between; */

    /* flex: 1; */
    /* padding: 5px 5px; */
    padding-top: 1vh;
    text-align: center;
    color: var(--color-blue);

}

.exerciseComplete {
    text-decoration: line-through;
    text-decoration-color: black;
    color: var(--color-red);
}

.listDelete {
    border: 2px solid red;
}

.red {
    color: var(--color-red);
}










@media (max-width: 390px) {
    .spartacusWorkout {
        /* border: 2px solid pink; */
        padding: 2vh 5vw 0px 5vw;
        align-items: flex-start;
        gap: 1vh;
    }

    .clockTime {
        /* border: 2px solid gold; */
        height: 100%;
        width: 70%;
    }

    .workoutButtons {
        /* border: 2px solid green; */
        align-items: center;
        gap: 0px;
        height: 12%;
        margin-bottom: 0px;
    }

    .clickableDiv {
        font-size: 4vh;
        width: 43%;
    }

    .workoutExercise {
        /* border: 2px solid red; */
        padding-top: 10px;
        align-items: flex-start;
        text-align: center;
        font-size: 5vh;
        height: 50%;

    }

    .workoutList {
        /* border: 2px solid magenta; */
        margin-top: 2vh;
        max-height: 70vh;
        gap: 0.75vh;
        font-size: 3.25vw;
    }
}