.spartacusWorkout {
    border: 2px solid pink;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding: 0px 15vw 0px 5vw;
}
.clockTime {
    /* border: 2px solid gold; */
    display: flex;
    flex-direction: column;
    width: 70%;
    /* flex: 3; */
    height: 80vh;
}
.workoutButtons{
    /* border: 2px solid green; */
    display: flex;
    /* flex: 1; */
    height: 20%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    margin-bottom: 10px;
}
.workoutExercise {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    /* flex: 3; */
    height: 15%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 5vw;
}
.workoutList {
    /* border: 2px solid magenta; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* flex: 1; */
    padding: 15px 2px;
    overflow: scroll;

    width: 30%;

    font-size: 3.5vw;
    font-family: roman;
    text-shadow: none;
    -webkit-text-stroke: 0.3px;
    -webkit-text-stroke-color: black;
    background-color: #fefefe44;
}
.exercise {
    /* border-top: 1px solid black; */
    display: flex;
    flex: 1;
    /* padding: 5px 5px; */
    padding-top: 1vh;
    text-align: center;
    color: skyblue;
}
.exerciseComplete {
    text-decoration: line-through;
    text-decoration-color: black;
    color: darkred;
}

/* media query for phone */

/* shrink the height in clockTime and workoutList */

