.stopWatch {
    /* border: 2px solid green; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1;
    padding: 0px 15vw 0px 5vw;
    gap: 3vh;
}
.watchButtons {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6vw;
    margin-top: 10px;
}
.stopwatchClick {
    /* border: 2px solid gold; */
    width: 50%;
    /* WHAT DO I DO HERE??? */
    min-width: 120px;
    max-width: 200px;
    border-radius: 5px;
    padding: 0.25vh 1vh;
    font-size: 4vh;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    text-align: center;
    transition: 0.3s;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
    color: var(--color-blue);
}

.lapClick {
    /* border: 2px solid gold; */
    width: 20%;
    /* WHAT DO I DO HERE??? */
    min-width: 120px;
    max-width: 160px;
    border-radius: 5px;
    padding: 0.25vh 1vh;
    font-size: 4vh;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    text-align: center;
    transition: 0.3s;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
    color: var(--color-blue);

}
.timeClock {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6vw;
    font-size: 8vh;
    margin-top: 3vh;
    color: var(--color-red);
}
.lapLog {
    /* border: 2px solid magenta; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 30vh;
    width: 80%;
    overflow: scroll;
    /* margin-top: 20px; */

}
.lap {
    /* border: 2px solid red; */
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 4vw;
    padding: 10px 0px;
}
.deleteButton {
    /* border: 2px solid black; */
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    cursor: pointer;
    width: 25%;
    text-align: center;

    transition: 0.3s;
}
.deleteButton:hover {
    background-color: #80808044;
}




@media (max-width: 390px) {
    .stopWatch {
        padding: 0px 5vw 0px 5vw;
    }
    .watchButtons {
        /* border: 2px solid blue; */
        flex-direction: column;
        align-items: center;
        gap: 4vw;
        margin-top: 10px;
    }
    .clickableDiv {
        font-size: 4vh;
        width: 40%;
    }
    .timeClock {
        /* border: 2px solid red; */
        height: 30vw;
        font-size: 5.5vh;
        margin-top: 30px;
    }
    .lapLog {
        /* border: 2px solid magenta; */
        gap: 5px;
        height: 25vh;
        overflow: scroll;
        margin-top: 20px;
    
    }
    .lap {
        /* border: 2px solid red; */
        font-size: 3.25vh;
    }
      }
