.stopWatch {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 15vw 0px 5vw;
}
.watchButtons {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6vw;
    margin-top: 10px;
}
.timeClock {
    /* border: 2px solid red; */
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6vw;
    height: 20vw;
    font-size: 7vw;
    margin-top: 20px;
}
.lapLog {
    /* border: 2px solid magenta; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 30vh;
    overflow: scroll;
    margin-top: 20px;

    font-family: roman;
    text-shadow: none;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;

}
.lap {
    /* border: 2px solid red; */
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 4vw;
    color: rgb(254, 127, 36);
    padding: 10px 0px;
}
.deleteButton {
    /* border: 2px solid black; */
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    cursor: pointer;
    width: 25%;
    text-align: center;

    transition: 0.3s;
}
.deleteButton:hover {
    background-color: #80808044;
}