.selectWorkoutPage {
    /* border: 2px solid magenta; */
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
    flex: 1;
    /* margin: 0vh 10vw 0vh 5vw; */
    padding: 0px 15vw 0px 5vw;
}

.leftSide {
    /* border: 2px solid blue; */
    display: flex;
    flex-flow: column nowrap;
    flex: 3;
    max-width: 500px;
    flex-shrink: 3;
    margin-top: 3vh;
}

.workAndRest {
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column nowrap;
}

.workRest {
    /* border: 2px solid black; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.workRestTitle,
.workRestInput {
    /* border: 2px solid magenta; */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
}

.timeInput {
    /* border: 2px solid green; */
    font-family: roman;
    font-size: 5vh;
    width: 80%;
    text-align: center;
    background-color: #00000000;
    color: var(--color-red);
}

.selectInputWorkout {
    /* border: 2px solid lime; */
    display: flex;
    justify-content: center;
    margin: 1vh 0;
}

.workoutSelect {
    /* border: 2px solid blue; */
    font-size: 5vh;
    font-family: roman;
    background-color: #00000000;
    color: var(--color-red);
    width: 85%;
}

.exerciseScroll {
    /* border: 2px solid red; */
    overflow: scroll;
    height: 50vh;
}

.selectExerciseList {
    /* border: 2px solid orange; */
    background-color: var(--color-white);
    border-radius: 15px;
    color: var(--color-blue);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 1vh auto;
    padding: 1vh 0vh;
    width: 30vh;
    overflow: scroll;
    -webkit-text-stroke: 0.7px;
    -webkit-text-stroke-color: black;
}

.selectExerciseList p {
    /* border: 2px solid red; */
    font-size: 4vh;
    margin: 0.5vh;
}








.rightSide {
    /* border: 2px solid black; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5vh;
    flex: 2;
    max-width: 275px;
    flex-shrink: 2;
    margin-top: 7vh;
}

.createWorkout {
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.newWorkoutName {
    /* border: 2px solid red; */
    background-color: #00000000;
    text-align: center;
    font-size: 4vh;
    width: 80%;
    font-family: roman;
    color: var(--color-red);
}


.selectButton {
    /* border: 2px solid yellow; */
    width: 70%;
    /* WHAT DO I DO HERE??? */
    min-width: 180px;
    border-radius: 5px;
    padding: 0.25vh 1vh;
    font-size: 5vh;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    text-align: center;
    transition: 0.3s;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
    color: var(--color-blue);

}

.selectButton:hover {
    background-color: var(--color-white);
}