.workoutComplete {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    gap: 5vh;
    align-items: center;
    padding: 5vh 15vw 0px 5vw;
}

.completeTitle {
    /* border: 2px solid blue; */
    font-size: 7vw;
    text-align: center;
    font-family: ocean;
    text-shadow: -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000;
    -webkit-text-stroke: 0px;
    color: var(--color-red);
}

.completeQuote {
    /* border: 2px solid purple; */
    font-size: 5vh;
    width: 75%;
    text-align: center;
}

.workoutCompleteButton {
    /* border: 2px solid green; */
    border-radius: 5px;
    padding: 0.25vh 3vh;
    font-size: 7vh;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    text-align: center;
    transition: 0.3s;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
    color: var(--color-blue);
}

.workoutCompleteButton:hover {
    background-color: var(--color-white);
}









@media (max-width: 390px) {
    .workoutComplete {
        /* border: 2px solid red; */
        padding: 4vh 5vw 0px 5vw;
        gap: 4vh;
    }

    .completeTitle {
        /* border: 2px solid blue; */
        font-size: 6vh;
    }

    .completeQuote {
        /* border: 2px solid purple; */
        font-size: 4vh;
        width: 100%;
        text-align: center;
    }
}