.workoutComplete {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    gap: 5vh;
    align-items: center;
    padding: 5vh 15vw 0px 5vw;
}

.completeTitle {
    border: 2px solid blue;
    font-size: 7vw;
    text-align: center;
    font-family: ocean;
    text-shadow: -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000;
    -webkit-text-stroke: 0px;
    color: var(--color-red);
}

.completeQuote {
    /* border: 2px solid purple; */
    font-size: 5vh;
    width: 75%;
    text-align: center;
}
.fontAdjust {
    /* border: 2px solid gold; */
    font-size: 7vh;
}