.header {
    border: 2px solid black;
    width: 100vw;
    height: 10vh;
    padding: 6vh 1vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 10vh;
}
.homeButton {
    /* border: 2px solid magenta; */
    width: 15vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.homeButton:hover {
    color: darkred;
}