
.footer {
    /* border: 2px solid blue; */
    /* border-top: 4.5px double black; */

    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 3vh;
    padding-left: 3vw;
}
.stingIcon {
    /* border: 2px solid red; */
    height: 4.5vh;
    background-image: url('../../Photos/DRedIcon.png');
}
