.customWork {
    /* border: 2px solid pink; */
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding: 3vh 15vw 0vh 1vw;
}

.customRight {
    /* border: 2px solid blue; */
    display: flex;
    flex-flow: column nowrap;
    flex: 2;
    max-width: 410px;
}

.customTitle {
    /* border: 2px solid lime; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 5vh;
    text-decoration: underline;
}

.customList {
    border: 2px solid red;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 1vh;
    margin-top: 2vh;
    height: 60vh;
    overflow: scroll;
    padding: 2vh 0;
}

.editExercise {
    /* border: 2px solid gold; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 0.5vh;

}

.exerciseName {
    /* border: 2px solid magenta; */
    font-size: 3.75vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex: 1.5;
    color: var(--color-blue);
    background-color: var(--color-white);
    border-radius: 5px;
    margin: 0 2vh;
}

.customEdit {
    /* border: 2px solid green; */
    font-size: 3.75vh;
    width: 100%;
    background-color: #00000000;
    text-align: center;
    font-family: roman;
    color: var(--color-red);

}

.editOptionBar {
    /* border: 2px solid black; */
    display: flex;
    /* flex: 1; */
}

.editingExercises,
.alteringExercises {
    /* border: 2px solid blue; */
    display: flex;
    flex-flow: row nowrap;
    gap: 1vh;
}

.option {
    /* border: 2px solid white; */
    width: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    box-shadow: 0 0 5px black;
    color: black;
    border-radius: 5px;
    background-color: var(--color-white);

}

.option:hover {
    background-color: var(--color-white);
    color: var(--color-red);
}

.reverse {
    transform: rotate(180deg);
}



.customLeft {
    /* border: 2px solid gold; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 4vh;
    flex: 1;
    height: 50vh;

    max-width: 275px;
}

.addExercise {
    /* border: 2px solid blue; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2vh;
}

.inputBox {
    /* border: 2px solid red; */
    background-color: #00000000;
    text-align: center;
    font-size: 4vh;
    width: 95%;
    font-family: roman;
    color: var(--color-red);
}



.customButton {
    /* border: 2px solid yellow; */
    border-radius: 5px;
    padding: 5px;
    font-size: 4.5vh;
    width: 75%;
    min-width: 170px;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    text-align: center;
    transition: 0.3s;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
    color: var(--color-red);
}

.customButton:hover {
    background-color: var(--color-white);
}
.customAddButton {
    border: none;
    background-color: #00000000;
    border-radius: 5px;
    padding: 5px;
    font-size: 4vh;
    font-family: roman;
    width: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    text-align: center;
    transition: 0.3s;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
    color: var(--color-red);
}
.customAddButton:hover {
    background-color: var(--color-white);
}




















@media (max-width: 390px) {
    .customWork {
        padding: 0px 5vw 0px 5vw;
        align-items: flex-start;
    }

    .customInputContainer {
        margin-top: 2vh;
    }

    .workoutList {
        margin-top: 4vh;
        max-height: 55vh;
        gap: 0.75vh;
        font-size: 3.25vw;
    }

    .customControl {
        /* border: 2px solid red; */
        margin: 6vw 0;
        gap: 3vh;
    }

    .inputBoxes {
        /* border: 2px solid green; */
        font-size: 4.5vh;
        gap: 3vh;
    }

    .inputBox {
        font-size: 3.5vh;
    }

    .inputButton,
    .setCustom {
        width: 100%;
        font-size: 3.5vh;
    }

    .setCustom {
        width: 90%;
        color: var(--color-red);
    }

    .inputButton:hover {
        background-color: var(--color-white);
    }

}