.customWork {
    /* border: 2px solid pink; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0px 15vw 0px 5vw;
    
}

.inputBox {
    /* border: 2px solid red; */
    background-color: #00000000;
    text-align: center;
    font-size: 4vh;
    width: 80%;
    font-family: roman;
    color: var(--color-red);
}

.inputButton, .setCustom {
    /* border: 2px solid yellow; */
    border-radius: 5px;
    padding: 5px;
    width: 18vh;
    font-size: 5vh;
    cursor: pointer;
    box-shadow: 0 0 10px black;
  
    text-align: center;
    transition: 0.3s;
  
      /* font-family: roman; */
      /* text-shadow: none; */
      -webkit-text-stroke: 0.5px;
      -webkit-text-stroke-color: black;
      color: var(--color-blue);
  
}
.setCustom {
    /* border: 2px solid orange; */
    width: 40vh;
    color: var(--color-red);
}
.inputButton:hover {
    background-color: var(--color-white);
  }





  @media (max-width: 390px) {
    .customWork {
        padding: 0px 5vw 0px 5vw;
        align-items: flex-start;
    }
    .customInputContainer {
        margin-top: 2vh;
    }
    .workoutList {
        margin-top: 4vh;
        max-height: 55vh;
        gap: 0.75vh;
        font-size: 3.25vw;    
    }
    .customControl {
        /* border: 2px solid red; */
        margin: 6vw 0;
        gap: 3vh;
    }
    .inputBoxes {
        /* border: 2px solid green; */
        font-size: 4.5vh;
        gap: 3vh;
    }
    .inputBox {
        font-size: 3.5vh;
    }
    .inputButton, .setCustom {
        width: 100%;
        font-size: 3.5vh;
    }
    .setCustom {
        width: 90%;
        color: var(--color-red);
    }
    .inputButton:hover {
        background-color: var(--color-white);
      }
    
  }
  