* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: roman;
  src: url('./fonts/roman.otf');
}
@font-face {
  font-family: ocean;
  src: url('./fonts/oceanRush.otf');
}
/* Root Here */
:root {
  background-image: url('./Photos/Gannicus.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* font decorations */
  color: #ffd014;
  /* shadows in all (4) directions */
  text-shadow: -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000;
}

/* APP DIV */
.spartanStrength {
  border: 2px solid orangered;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: ocean;
}

/* buttons */
.clickableDiv {
  /* border: 2px solid red; */
  border-radius: 5px;
  padding: 5px;
  width: 20vh;
  font-size: 5vh;
  cursor: pointer;
  box-shadow: 0 0 10px black;
  text-align: center;
  transition: 0.3s;

    font-family: roman;
    text-shadow: none;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;

}
.clickableDiv:hover {
  background-color: #80808044;
}




/* TIMER CSS */
.circleContainer {
  /* border: 2px solid black; */
  position: relative;
  height: 100%;
  width: 100%;
  /* height: 70vh; */

  display: flex;
  /* flex: 10; */
  height: 65%;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* background-image: linear-gradient(#0000ff, #00008b, #87ceeb); */
}
.circle {
  /* border: 2px solid blue; */
  border-radius: 50%;
  fill: none;
  /* stroke: url(#gradientColor); */
  stroke-width: 10px;
  /* ! drop shadow causing weird lag blackness around div square */
  /* filter: drop-shadow(6px 6px 15px #000000); */
  overflow: none;
}
.count {
  /* border: 2px solid green; */
  position: absolute;
  /* * center an absolute div in a relative one */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* * Big bucks */
  font-size: 25vh;

}